<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>@font-face {
  /* 为载入的字体取名字(随意) */
  font-family: 'FS'; 
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url('../fonts/FS.ttf') format('truetype');  /* 提供 TTF 格式 */
  /* 定义加粗样式(加粗多少) */
  font-weight: normal;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}